In [11]:
import pandas as pd
import numpy as np
df = pd.read_csv('placement_data.csv')
df

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

In [16]:
df['concatcolumn'] = np.where(df['status'] == 'Placed', df['degree_t']+"_"+df['status'], "n/a")
df

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,concatcolumn
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0,Sci&Tech_Placed
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0,Sci&Tech_Placed
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0,Comm&Mgmt_Placed
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN,n/a
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0,Comm&Mgmt_Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0,Comm&Mgmt_Placed
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0,Sci&Tech_Placed
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0,Comm&Mgmt_Placed
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0,Comm&Mgmt_Placed
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN,n/a

In [24]:
newdf = df.loc[(df.concatcolumn == "Sci&Tech_Placed") | (df.concatcolumn == "Comm&Mgmt_Placed")]
newdf

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,concatcolumn
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0,Sci&Tech_Placed
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0,Sci&Tech_Placed
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0,Comm&Mgmt_Placed
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0,Comm&Mgmt_Placed
7,8,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.0,Mkt&Fin,62.14,Placed,252000.0,Sci&Tech_Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,210,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.0,Mkt&Fin,56.49,Placed,216000.0,Comm&Mgmt_Placed
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0,Comm&Mgmt_Placed
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0,Sci&Tech_Placed
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0,Comm&Mgmt_Placed
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0,Comm&Mgmt_Placed

In [25]:
newdf2 = newdf.loc[(df.degree_t == "Sci&Tech")]
newdf2

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary,concatcolumn
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0,Sci&Tech_Placed
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0,Sci&Tech_Placed
7,8,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0,Sci&Tech_Placed
22,23,F,69.80,Others,60.80,Others,Science,72.23,Sci&Tech,No,55.53,Mkt&HR,68.81,Placed,360000.0,Sci&Tech_Placed
23,24,F,77.40,Others,60.00,Others,Science,64.74,Sci&Tech,Yes,92.00,Mkt&Fin,63.62,Placed,300000.0,Sci&Tech_Placed
24,25,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0,Sci&Tech_Placed
37,38,F,79.00,Central,76.00,Central,Science,65.60,Sci&Tech,No,58.00,Mkt&HR,55.47,Placed,320000.0,Sci&Tech_Placed
39,40,M,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0,Sci&Tech_Placed
53,54,M,80.00,Others,70.00,Others,Science,72.00,Sci&Tech,No,87.00,Mkt&HR,71.04,Placed,450000.0,Sci&Tech_Placed
59,60,M,52.60,Central,65.58,Others,Science,72.11,Sci&Tech,No,57.60,Mkt&Fin,56.66,Placed,265000.0,Sci&Tech_Placed
62,63,F,86.50,Others,64.20,Others,Science,67.40,Sci&Tech,No,59.00,Mkt&Fin,59.69,Placed,240000.0,Sci&Tech_Placed
69,70,M,73.00,Central,73.00,Central,Science,66.00,Sci&Tech,Yes,70.00,Mkt&Fin,68.07,Placed,275000.0,Sci&Tech_Placed
70,71,M,82.00,Others,61.00,Others,Science,62.00,Sci&Tech,No,89.00,Mkt&Fin,65.45,Placed,360000.0,Sci&Tech_Placed
77,78,M,64.00,Others,80.00,Others,Science,65.00,Sci&Tech,Yes,69.00,Mkt&Fin,57.65,Placed,500000.0,Sci&Tech_Placed
78,79,M,84.00,Others,90.90,Others,Science,64.50,Sci&Tech,No,86.04,Mkt&Fin,59.42,Placed,270000.0,Sci&Tech_Placed
83,84,M,84.00,Others,79.00,Others,Science,68.00,Sci&Tech,Yes,84.00,Mkt&Fin,66.69,Placed,300000.0,Sci&Tech_Placed
84,85,M,70.00,Central,63.00,Others,Science,70.00,Sci&Tech,Yes,55.00,Mkt&Fin,62.00,Placed,300000.0,Sci&Tech_Placed
89,90,F,84.00,Others,75.00,Others,Science,69.00,Sci&Tech,Yes,62.00,Mkt&HR,62.36,Placed,210000.0,Sci&Tech_Placed
103,104,M,73.00,Central,78.00,Central,Science,73.00,Sci&Tech,Yes,85.00,Mkt&HR,65.83,Placed,240000.0,Sci&Tech_Placed
110,111,F,69.50,Central,70.00,Central,Science,72.00,Sci&Tech,No,57.20,Mkt&HR,54.80,Placed,250000.0,Sci&Tech_Placed
117,118,M,77.00,Others,75.00,Others,Science,73.00,Sci&Tech,No,80.00,Mkt&Fin,67.05,Placed,240000.0,Sci&Tech_Placed
118,119,M,76.00,Central,80.00,Central,Science,78.00,Sci&Tech,Yes,97.00,Mkt&HR,70.48,Placed,276000.0,Sci&Tech_Placed
121,122,F,64.00,Central,67.00,Others,Science,69.60,Sci&Tech,Yes,55.67,Mkt&HR,71.49,Placed,250000.0,Sci&Tech_Placed
126,127,F,79.00,Others,61.00,Others,Science,75.50,Sci&Tech,Yes,70.00,Mkt&Fin,68.20,Placed,210000.0,Sci&Tech_Placed
128,129,M,80.40,Central,73.40,Central,Science,77.72,Sci&Tech,Yes,81.20,Mkt&HR,76.26,Placed,400000.0,Sci&Tech_Placed
138,139,F,82.00,Others,64.00,Others,Science,73.00,Sci&Tech,Yes,96.00,Mkt&Fin,71.77,Placed,250000.0,Sci&Tech_Placed
142,143,M,85.00,Central,60.00,Others,Science,73.43,Sci&Tech,Yes,60.00,Mkt&Fin,61.29,Placed,260000.0,Sci&Tech_Placed
145,146,M,89.40,Others,65.66,Others,Science,71.25,Sci&Tech,No,72.00,Mkt&HR,63.23,Placed,400000.0,Sci&Tech_Placed
150,151,M,71.00,Central,58.66,Central,Science,58.00,Sci&Tech,Yes,56.00,Mkt&Fin,61.30,Placed,690000.0,Sci&Tech_Placed
152,153,F,75.40,Others,60.50,Central,Science,84.00,Sci&Tech,No,98.00,Mkt&Fin,65.25,Placed,240000.0,Sci&Tech_Placed
153,154,M,49.00,Others,59.00,Others,Science,65.00,Sci&Tech,Yes,86.00,Mkt&Fin,62.48,Placed,340000.0,Sci&Tech_Placed
156,157,M,84.20,Central,69.40,Central,Science,65.00,Sci&Tech,Yes,80.00,Mkt&HR,52.72,Placed,255000.0,Sci&Tech_Placed
160,161,M,87.00,Central,74.00,Central,Science,65.00,Sci&Tech,Yes,75.00,Mkt&HR,72.29,Placed,300000.0,Sci&Tech_Placed
163,164,M,63.00,Others,67.00,Others,Science,64.00,Sci&Tech,No,75.00,Mkt&Fin,66.46,Placed,500000.0,Sci&Tech_Placed
174,175,M,73.24,Others,50.83,Others,Science,64.27,Sci&Tech,Yes,64.00,Mkt&Fin,66.23,Placed,500000.0,Sci&Tech_Placed
178,179,M,68.00,Others,56.00,Others,Science,68.00,Sci&Tech,No,73.00,Mkt&HR,68.07,Placed,350000.0,Sci&Tech_Placed
187,188,M,78.50,Central,65.50,Central,Science,67.00,Sci&Tech,Yes,95.00,Mkt&Fin,64.86,Placed,280000.0,Sci&Tech_Placed
196,197,M,72.00,Others,63.00,Others,Science,77.50,Sci&Tech,Yes,78.00,Mkt&Fin,54.48,Placed,250000.0,Sci&Tech_Placed
197,198,F,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0,Sci&Tech_Placed
202,203,M,70.00,Central,63.00,Central,Science,66.00,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0,Sci&Tech_Placed
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0,Sci&Tech_Placed